@tailwind base;
@tailwind components;
@tailwind utilities;

/* Couleurs de fond */

.bg-dark-blue {
    background-color: #001053;
}

.bg-blue {
    background-color: #32AAFF;
}

.bg-medium-blue {
    background-color: #80CAFF;
}

.bg-light-blue {
    background-color: #E1F2FF;
}

.bg-yellow {
    background-color: #FFDA7C;
}

.bg-white {
    background-color: #FFFFFF;
}


/* Couleurs au survol */

.hover\:bg-blue:hover {
    background-color: #32AAFF;
}

.hover\:bg-medium-blue:hover {
    background-color: #80CAFF;
}

.hover\:bg-yellow:hover {
    background-color: #FFDA7C;
}

/* Couleurs du texte */

.text-dark-blue {
    color: #001053;
}

.text-blue {
    color: #32AAFF;
}

.text-light-blue {
    color: #80CAFF;
}

.text-yellow {
    color: #FFDA7C;
}

.text-white {
    color: #FFFFFF;
}
  
.text-light-blue {
    color: #E1F2FF;
}

.hover\:text-dark-blue:hover {
    color: #001053;
}

/* Border-bottom pour le feed */

.feed {
    border-bottom: 2px solid #32AAFF;
}

.hover\:feed:hover {
    border-bottom: 2px solid #32AAFF;
}

/* Couleurs de bordure */

.border-dark-blue {
    border: 2px solid #001053;
}
.border-light-blue {
    border: 2px solid #E1F2FF;
}

.border-blue {
    border: 2px solid #32AAFF;
}

.border-yellow {
    border: 2px solid #FFDA7C;
}

.hover\:border-blue:hover {
    border: 2px solid #32AAFF;
}

/* Ombres */
.ombre-dark-blue {
    box-shadow: 3px 3px 0px 0 #001053;
    border: 2px solid #001053;
    border-radius: 10px;
}

.ombre-blue {
    box-shadow: 3px 3px 0px 0 #80CAFF;
    border: 2px solid #80CAFF;
    border-radius: 10px;
}

.ombre-yellow {
    box-shadow: 3px 3px 0px 0 #FFDA7C;
    border: 2px solid #FFDA7C;
    border-radius: 10px;
}

.ombre-white {
    box-shadow: 3px 3px 0px 0 #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

/* Liste */
.liste-dark-blue {
    border-left: 5px solid #001053;
    margin: 20px 0;
    padding-left: 20px;
    border-radius: 5px;
}

.liste-blue {
    border-left: 5px solid #32AAFF;
    margin: 20px 0;
    padding-left: 20px;
    border-radius: 5px;
}

.total-dark-blue {
    background-color: #E1F2FF;
    padding: 20px;
    margin-top: 20px;
    border: 5px solid #001053;
    border-radius: 10px;
}

.lien {
    background-color: #FFDA7C;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}

/*Image Step 1 */
.step-1 {
    width: auto;
    height: 350px; 
}

.step {
    width: auto;
    height: 100px; 
}