@tailwind base;
@tailwind components;
@tailwind utilities;

/* Couleurs de fond */

.bg-dark-blue {
    background-color: #001053;
}

.bg-blue {
    background-color: #32AAFF;
}

.bg-medium-blue {
    background-color: #80CAFF;
}

.bg-light-blue {
    background-color: #E1F2FF;
}

.bg-yellow {
    background-color: #FFDA7C;
}

/* Couleurs au survol */

.hover\:bg-blue:hover {
    background-color: #32AAFF;
}

.hover\:bg-medium-blue:hover {
    background-color: #80CAFF;
}

.hover\:bg-yellow:hover {
    background-color: #FFDA7C;
}

/* Couleurs du texte */

.text-dark-blue {
    color: #001053;
}
  
.text-light-blue {
    color: #E1F2FF;
}

/* Border-bottom pour le feed */

.feed {
    border-bottom: 2px solid #32AAFF;
}

.hover\:feed:hover {
    border-bottom: 2px solid #32AAFF;
}

/* Couleurs de bordure */

.border-dark-blue {
    border: 2px solid #001053;
}
.border-light-blue {
    border: 2px solid #E1F2FF;
}

.border-blue {
    border: 2px solid #32AAFF;
}

.hover\:border-blue:hover {
    border: 2px solid #32AAFF;
}

/* Ombres */
.ombre-blue {
    box-shadow: 3px 3px 0px 0 #80CAFF;
    border: 2px solid #80CAFF;
    border-radius: 10px;
}
