body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    display: flex;
    width: 100%;
    padding: 0 100px;
    height: 64px;
    background-color: #001053;
    justify-content: space-between;
    box-shadow: 0px 3px 4px 0 #D8E1E6;
}

.logo-container {
    width: 300px;
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-container a {
    color: #fff;
}

.logo-container > h1 {
    font-size: 30px;
}

.menu-container {
    width: 200px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon .langue {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.menu-icon .arrow {
    height: 10px;
    width: auto;
    cursor: pointer;
}

#menu-nav {
    display: none;
}

#menu-nav::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 22.5px;
    border: 10px solid transparent;
    border-bottom: 10px solid #001053;
}

.menu-icon:hover #menu-nav {
    background-color: #001053;
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
    display: grid;
    border-radius: 10px;
}

.menu-list a {
    display: flex;
    padding: 15px 0 7px 15px;
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
    align-items: center;
    transition: 0.5s;
}

.menu-list a:hover {
    padding-left: 30px;
}

.langue {
    display: flex;
    float: left;
    margin-right: 10px;
}

/*Illustration*/
.illustration {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #001053;
    padding: 0px 100px;
    width: 100%;
}

.illustration .mascotte {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration .mascotte img {
    height: 500px;
    width: auto;
    padding: 50px;
}

.illustration .action {
    width: 55%;
}

/*Presentation*/
.presentation {
    margin: 30px 100px 30px 100px;
    text-align: center;
}

.presentation > p {
    text-align: justify;
    margin: 20px 0 40px 0;
    line-height: 1.5;
}

.presentation .navigation {
    width: 50%;
    align-items: center;
    margin: auto;
}

/*Carousel*/
.wrapper {
    text-align: center;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
  left: 30px;
}

.wrapper i:last-child{
  right: 30px;
}

.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 25px;
  border-radius: 10px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0 100px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel .card {
  display: flex;
  justify-content: flex-start;
  background: #E1F2FF;
  cursor: pointer;
  padding-bottom: 30px;
  flex-direction: column;
  border-radius: 10px;
}

.carousel .card img {
  background: #001053;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  
}

.carousel .card h2 {
  margin: 30px 0 15px;
}

.carousel .card p {
    text-align: justify;
    margin: 20px;
}

.carousel .navigation {
    width: 100%;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
}

/*Forme du bouton*/
.btn {
    width: 40%;
    padding: 15px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #32AAFF;
    box-shadow: 3px 3px 1px 0 #FFDA7C;
    color: #001053;
    text-align: center;
    text-decoration: none;
}

/*Animation du bouton*/
.btn:hover {
    background-color: #FFDA7C;
    box-shadow: 3px 3px 1px 0 #32AAFF;
}

/*Footer*/
.footer {
    position: relative;
    bottom: 0;
    width:100%;
    display: flex;
    align-items: center;
    height: 64px;
    margin: 30px 0px 0px 0px;
    padding: 0 100px;
    background-color: #001053;
    box-shadow: 0px -3px 4px 0 #D8E1E6;
    color: #fff;
}

/*Pour diviser le footer en 3*/
.footer .infos{
    width: calc(100% / 3);
}

.footer div:nth-child(2) {
    text-align: center;
}

.footer div:nth-child(3) {
    text-align: end;
}

/*---------------------------------------------------------Responsive largeur*/
@media only screen and (max-width: 1200px){
    header, .footer {
        padding: 0 20px;
    }
    h2 {
        margin: 30px 0;
    }
    h3{
        font-size: 20px;
    }
    .logo-container > h1 {
        font-size: 25px;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-container {
        justify-content: flex-end;
    }
    .menu-icon .langue {
        height: 30px;
    }
    .menu-icon .arrow {
        height: 7px;
    }
    .menu-icon:hover #menu-nav {
        width: 85%;
        right: -20;
    }
    .menu-list a {
        padding: 0 0 20px 15px;
    }
    .menu-list a:nth-child(1){
        padding-top: 0;
    }
    .illustration{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 20px;
        height: auto;
    }
    .illustration .mascotte img {
        height: 350px;
        padding: 0px 0px 50px 0px;
    }
    .illustration .mascotte, .illustration .action {
        width: 100%;
    }
    .illustration .action {
        padding-bottom: 50px;
    }
    .action > h1 {
        font-size: 30px;
    }

    .navigation {
        gap: 0px;
    }

    .presentation {
        margin: 0px 10px 20px 10px;
    }
    
    .presentation > p {
        margin-bottom: 40px;
    }

    .presentation > .navigation {
        width: 100%;
        gap: 0px;
    }

    .btn {
        width: 100%;
        font-size: 20px;
        margin: 30px 0 0 0;
    }

    .footer {
        position: relative;
    }
    .wrapper i {
        height: 50px;
        width: 50px;
        font-size: 1.8rem;
        line-height: 50px;
    }
    .wrapper .carousel {
        grid-auto-columns: 90%;
        margin: 0 30px;
    }
    .carousel .card img {
        height: 300px;
    }
    .carousel .navigation {
        width: 50%;
        margin: auto;
    }
    .wrapper i:first-child {
        left: 10;
    }
    .wrapper i:last-child {
        right: 10;
    }
}

/*------------------------------------------------------Responsive hauteur*/
@media only screen and (min-height: 1600px){
    header {
        padding: 70px 20px;
    }
    h2 {
        font-size: 60px;
    }
    h3{
        font-size: 60px;
    }

    .logo-container {
        width: 500px;
        height: 0;
    }
    .logo-container > h1 {
        font-size: 70px;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-container {
        height: 0;
        width: 400px;
    }
    .menu-icon .langue {
        height: 90px;
    }
    .menu-icon .arrow {
        height: 15px;
    }
    .menu-icon:hover #menu-nav {
        width: 100%;
        top: 50;
        right: -20;
    }
    .menu-list a {
        padding: 40px 20px 20px 20px;
        font-size: 40px;
    }
    .menu-list a:nth-child(1){
        padding-top: 20px;
    }
    .illustration{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        margin-bottom: 70px;
    }
    .illustration .mascotte img {
        align-items: center;
        height: 700px;
        padding: 0px 0px 50px 0px;
    }
    .illustration .mascotte, .illustration .action {
        width: 100%;
    }
    .action > h1 {
        font-size: 70px;
        text-align: center;
        margin: 80px 0;
    }
    .presentation {
        margin: 20px;

    }
    .presentation > p {
        font-size: 40px;
        margin-bottom: 70px;
    }
    .carousel .card p {
        font-size: 35px;
    }

    .btn {
        font-size: 50px;
        margin: 50px 0 0 0;
        padding: 35px 0;
    }

    .footer {
        display: block;
        height: auto;
        padding: 30px 20px;
        margin-top: 200px;
    }
    .footer .infos {
        font-size: 35px;
        text-align: center;
        margin: 20px 0;
        width: 100%;
    }
    .footer div:nth-child(3){
        text-align: center;
    }
    .wrapper i {
        height: 70px;
        width: 70px;
        font-size: 2rem;
        line-height: 70px;
    }
    .wrapper .carousel {
        grid-auto-columns: 90%;
        margin: 0 50px;
    }
    .carousel .card img {
        height: 400px;
    }

}