@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;

}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #E1F2FF;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #001053;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #80CAFF;
}

h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #32AAFF;
  margin-bottom: 20px;
}

h6 {
  font-size: 22px;
  color: #32AAFF;
}

h7 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: #E1F2FF;
  border: 2px solid #80CAFF;
  box-shadow: 3px 3px 1px 0 #80CAFF;
  border-radius: 10px;
  color: #001053;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #FFDA7C;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.section-question {
  display: none;
}